@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap");

:root {
  --color-focus: #039bff;
  --color-input: #333;
  --color-btn-primary: #0089FF;
  --color-btn-primary-hover: #006FCE;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #eee;
}
